.jumbotron, .card-body, .container, .site-header{
    font-family: 'Raleway', serif !important;
}

.jumbotron .display-4{
    font-weight: bold;
}

.jumbotron {
  height: 60vh;
  padding: 5em inherit;
  margin-bottom: 0;
  background-color: #53C0FB;
  background: url('../img/cover_back.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: black;
  font-weight: bold;
}

@media (min-width: 768px) {
  .jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  text-shadow: 1px 1px 2px grey;
}

.jumbotron .lead{
  font-size: 38px;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.site-header a {
  color: white;
  transition: ease-in-out color .15s;
}

.light-text {
  color: white;
}

.site-header .dropdown-menu a {
  color: black;
}

.dropzone{
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.alert{
  position: fixed;
  top:80px;
  width: 50%;
  left: 50%;
  transform: translate(-50%, 0);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  top:50%;
  left: 50%;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 6px;
  border: 6px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#spinner-wrapper{
  position: fixed;
  background-color: rgba(0,0,0,0.5);
  width:100%;
  height: 100%;
  top:0;
  left:0;
  z-index: 1021;
  display: none;
}

a.custom-card,
a.custom-card:hover {
  color: inherit;
  text-decoration: inherit;
}

.checked {
  color: orange;
}
/*CSS PERSONALIZADO*/
.site-header{
  background-color: black;
  color: white;
}

.navButton{
  padding: 10px;
}

.navButton:hover {
  border: none;
  border-radius: 5px;
  background: #dddddd;
  text-decoration: none;
  color: black;
}

#pintarNombreUsuario {
  color: white;
}

.productText1{
  height: 3.6em;
  text-overflow: -o-ellipsis-lastline;
}

.productText2{
  height: 5.6em;
  text-overflow: -o-ellipsis-lastline;
}

.input-group.md-form.form-sm.form-2 input {
  border: 1px solid #bdbdbd;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.fas .fa-search .text-grey{
  color: #343A40;
}

.imagen-login{
  width: 100%;
}

.titulo-login{
  font-size: 25px;
  padding-top: 10%;
  padding-bottom: 10%;
}

input[type=text], input[type=number], input[type=email], input[type=password]:focus {
  border: none;
  border-bottom: 1px solid grey; 
  background-color: #f7fafa;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
}

input[type=text]:focus, input[type=number]:focus, input[type=email]:focus, input[type=password]:focus {
  width: 80%;
}

select {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  border: none;
  border-bottom: 1px solid grey;
  border-radius: 3px; 
  background-color: #f7fafa;
  color: grey;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out; 
}

select:focus {
  border: 3px solid #BFDEFF;
  border-radius: 5px;
  background-color: white;

}

.customButton {
  background: black;
  border: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.customButton:active {
  box-shadow:inset 0 0.6em 2em -0.3em rgba(0,0,0,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
.customButton:hover {
  background: #dddddd;
  color: black;
}

.myProfileAvatar{
  width: 25%;
}

.productInfoLink:hover{
  text-decoration: none;
}

.cartImage{
  width: 20%;
}

.cartTableHead, .cartTotalPrice {
  background-color: black;
  color: white;
}

.cartTableHead2 {
  background-color: grey;
  color: white;
}

.cartLink:hover,
.cartLink:focus {
  background-color: grey;
}

.cartPayLink {
  text-decoration: underline black;
  color: black;
}

.cartPayLink:hover{
  text-decoration: underline black;
  color: black;
}

.cartModalHeader{
  background-color: black;
}

#creditCardContainer-tab, #transferContainer-tab{
  color: #5c5e5d;
}
.image-preview{
  width: 150px;
  height: 150px;
  border: 2px solid #dddddd;

  display: flex;
  align-items: center;
  justify-content: center;
}

.image-preview-image{
  display: none;
  width: 100%;
}
/*PRODUCTS.HTML*/
.productList{
  background-color: white;
  box-shadow: 5px 5px 15px #aaaaaa;
  border: none;
}

#productoUrl, .categoryUrl{
  text-decoration: none;
  color: black;
}

#productoUrl:hover , .categoryUrl:hover{
  text-decoration: none;
  color: grey;
}
.limpiarFiltro{
  text-decoration: none;
  color: pink;
  background: white;
  border: none;
  color: black;
  border-radius: 5px;
  padding: 10px;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}

.limpiarFiltro:hover{
  text-decoration: none;
  color: grey;
}

.searchTool{
  background: black;
  color: #dddddd;
  box-shadow:inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17),inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15),inset 0 0 0em 0.05em rgba(255,255,255,0.12);
}
/*CSS PERSONALIZADO*/